body{
  background-image: url("https://media.istockphoto.com/id/1234887973/photo/empty-wooden-planks-with-blur-beach-and-sea-on-background.jpg?b=1&s=612x612&w=0&k=20&c=Api_rWrfUDODnyxDgW4tNqtRWbOk6lBZhmsYDVEtArw=");
font-size: 30px;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}
h1,p{
  color: rgb(255, 0, 0);
  transition: .5s;
}
p:hover,h1:hover{
  color: blue;
}

a{
  color: rgb(255, 0, 0);
  text-decoration: none;
  transition: .3s;
}
a:hover{
  font-size: 60px;
}
img{
  transition: 0.5s;
}
img:hover{
  opacity: 0;
}